<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <span class="navbar-brand" id="nav-brand">REMIND</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link navigation-items" id="home" href="/">Home</a>
      <a
        class="nav-item nav-link navigation-items"
        style="color: rgba(0, 0, 0, 1); display: none"
        id="feature"
        href="#features"
        >Features</a
      >
      <a
        class="nav-item nav-link navigation-items"
        style="color: rgba(0, 0, 0, 1); display: none"
        id="contactTeam"
        href="#team"
        >Contact</a
      >
      <div class="append" data-aos="fade-down"></div>
      <!-- <a href="/admin" id="adminBtn"
        ><button class="btn btn-primary">Admin</button></a
      > -->
    </div>
  </div>
</nav>
